body{
    padding:0;
    margin:0;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    padding: 10px;
    justify-content: space-between;

}
img{
    width: 5em;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    
}